body{
  background-image: url(../ghana.jpg);
}
.jumbotron{
  text-align: center;
  background-color: red;
  font-size: 50px;
}
.card-title{
  text-align: center;
}
.card{
  background-color: green;
}
.form-group{
  background-color: gold;
}