body{
  background-image: url(../ghana.jpg);
}
.jumbotron{
  text-align: center;
  background-color: red;
  font-size: 60px;
}
.card-title{
  text-align: center;
  font-size: 30px;
}
.card{
  background-color: green;
  font-size: 20px;
}
.form-group{
  background-color: gold;
  font-size: 25px;
  text-align: center;
}