body{
  background-image: url(../ghana.jpg);
}
.jumbotron{
  text-align: center;
  background-color: red;
  font-size: 60px;
  font-family: cursive;
}
.card-title{
  text-align: center;
  font-size: 30px;
  font-style: italic;
}
.card{
  background-color: green;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.form-group{
  background-color: gold;
  font-size: 25px;
}
.radio-button{
  background-color: gold;
}